/* main.scss */
@use "sass:color";


/* Uso de variables + anidación SASS */
$bg-color: lightblue;

.flex {
  background-color: $bg-color;
  color: white;
  padding: 10px;
  text-align: center;
  h1  {
    color:red;
  }
}


/* Uso de mixins SASS */
/* Definición del mixin */

@mixin button-styles($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: color.scale($bg-color, $lightness: -20%);
    background-color: color.adjust($bg-color, $lightness: -10%);
  }
}

/* Uso del mixin */
.primary-button {
  @include button-styles(blue, white);
}

.secondary-button {
  @include button-styles(gray, black);
}